.landing-stats{
    margin-top: 15vh;
    margin-bottom: 25vh;
    background-color: #6ABD45;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    width: 100vw;
}

.stats-indiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 25vw;
    font-size: 100%;
}

.stats-indiv h1{
    font-size: 3.5em;
    margin: 0;
    text-align: center;
}

.stats-indiv h3{
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
}


@media (max-width: 770px){

    .stats-indiv h1{
        font-size: 2.5em;
    }
    
    .stats-indiv h3{
        font-size: 1.25em;
    }

}


@media (max-width: 590px){

    .landing-stats{
        height: 45vh;
    }

    .stats-indiv h1{
        font-size: 2.25em;
    }
    
    .stats-indiv h3{
        font-size: 0.9em;
    }

}
