.stats-section{
    margin-top: 15vh;
    margin-bottom: 25vh;
    background-color: #6ABD45;
    padding: 10vh 0;
    display: flex;
    color: white;
}

.stats-text{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.stats-individual{
    font-size: 140%;
    line-height: 20%;
}

.stats-individual h2{
    font-size: 200%;
}



@media (max-width: 596px){

    .stats-section{
        margin-bottom: 0vh;
    }

    .stats-individual{
        font-size: 105%;
        line-height: 20%;
    }

  }


@media (max-width: 426px){

    .stats-section{
        margin-bottom: 15vh;
    }

    .stats-text{
        width: 90%;
    }

    .stats-individual{
        font-size: 85%;
        line-height: 20%;
    }
    
    .stats-individual h2{
        font-size: 250%;
    }
    
}
