.interactionBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    padding-bottom: 50vh;
    margin-left: auto;
    margin-right: auto;
}

.title-div{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    height: 85vh;
    width: 80vw;
}

.title-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 70vh;
    width: 90vw;
}

.return{
    display: flex;
    justify-content: flex-start;
    
    
}
.return h4{
    font-size: 1.5em;
    margin: 0;
    height: 5vh;
    font-weight: 600;
    border-bottom: 0.5vh solid black;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.return h4:hover{
    transition: all 0.1s ease-in;
    border-bottom: 1.25vh solid #FFD700;
    cursor: pointer;
}

.div-title{
    display: flex;
    justify-content: flex-start;
    width: 50vw;
    height: 12.5vh;
    padding-bottom: 5vh;
}

.div-title h1{
    font-size: 4em;
    margin: 0;
}



.course-title-info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 50vw;
    height: 40vh;
}
.course-title-info p{
    width: 50vw;
}

.title-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    width: 45vw;
    height: 40vh; 
}

.title-text h2{
    font-size: 2.5em;
    margin: 0;
}

.course-hero-div{
   display: flex;
   margin: auto;
   
    
}
.course-hero-div img{
   width: 35vw;
    
}

.interaction-info-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background-color: yellow;
    margin-bottom: 10vh;
}

.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 25vw;
    
}

.info-box h1{
    font-size: 3.5em;
    margin: 0;
}

.info-box h3{
    font-size: 1.25em;
    font-weight: 600;
}

.Level-papers-div{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: auto;
}

.Level-papers-heading{
    display: flex;
    justify-content: flex-start;
    width: 30vw;
    
}
.Level-papers-heading h1{
    font-size: 3.5em;
    margin: 0;
}
.Level-papers-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80vw;
    margin-top: 5vh;
}
.Level-papers-info p{
    width: auto;
    margin-bottom: 2vh;
}

.color-code-holder{
    display: flex;
    flex-direction: row;

}

.color-code-div{
    background-color: yellow;
    width: 30px;
    height: 30px;
    margin-bottom: auto;
    margin-top: auto;
}

.color-code-text{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10px;
    font-weight: 600;
}

.Level-heading-div{
    font-size: 1em;
    display: flex;
    margin-top: 10vh;
    width: 11vw;
    
}
.Level-heading-div h1{
    border-bottom: 1.5vh solid yellow;
    
}

.level-paper-holder{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 50vh;
    margin-bottom: 8vh;
}

.tri-heading{
    display: flex;
    font-size: 1em;
    width: 15vw;
    
}

.tri-heading h2{
    text-decoration: underline green;
}
.paper-thumbnail-holder{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    

}
.paper-thumbnail-holder a{
    text-decoration: none;
    color: black;
    }

.paper-thumbnail-box{
    display: flex;
    width: 25vw;
    height: 35vh;
    

}
.link-margin{
    margin-right: 40px;
    
}
.paper-thumbnail-box img{
    display: flex;
    position: relative;
    left: -50%;
    }

.box-div{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.thumbnail-title{
    
    
}


@media only screen and (max-width: 596px) {
    .interactionBody{
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50vh;
    }
    .title-div{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: row;
        height: 75vh;
        width: 70vw;
       
}

.title-wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 75vh;
        width: 90vw;
}

.return{
        
    
}

.course-title-info{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 90vw;
        
}

.title-text{
        display: flex;
        align-items: flex-start;
        text-align: start;
        width: 90vw;
        
   
}
.title-text p{
    
    width: 90vw;
    

}

.course-hero-div{
        display: none;
}
.info-box h1{
        font-size: 3em;
        margin: 0;
}

.info-box h3{
        font-size: 1em;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
}
.info-box{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    
}
.paper-thumbnail-holder{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    .box-div{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .paper-thumbnail-box{
        display: flex;
        justify-content: center;
       
        width: 80vw;
        height: 50vh;
        background-color:green;
        
        
        
        }
    .thumbnail-title{
        display: flex;
        justify-content: center;
    }

    .level-paper-holder{
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: auto;
        }
    .tri-heading{
        display: flex;
        font-size: 1em;
        width: 50vw;  
        }
        .Level-heading-div{
        font-size: 1em;
        display: flex;
        margin-top: 10vh;
        width: 50vw;
            
        }
  }