.course-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100vw;
    overflow-x: hidden;
}

/* Title Section */

.title-div{
    display: flex;
    align-items: flex-end;
    height: 85vh;
    width: 85vw;
    margin-bottom: 5vh;
}

.title-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 70vh;
    width: 85vw;
}

.return{
    display: flex;
    justify-content: flex-start;
    width: 6.25vw;
    height: 5.5vh;
    
}

.return h4{
    font-size: 1.5em;
    margin: 0;
    height: 5vh;
    font-weight: 600;
    border-bottom: 0.5vh solid black;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.return h4:hover{
    transition: all 0.1s ease-in;
    border-bottom: 1.25vh solid #FFD700;
    cursor: pointer;
}


.div-title{
    display: flex;
    justify-content: flex-start;
    width: 70vw;
    height: 12.5vh;
}

.div-title h1{
    font-size: 4em;
    margin: 0;
    text-align: left;
}

.div-title h2{
    font-size: 3em;
    margin: 0;
    text-align: left;
}

.course-title-info{
    display: flex;
    justify-content: space-between;
    width: 85vw;
    height: 40vh;
}

.title-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: start;
    width: 45vw;
    height: 27.5vh; 
}

.title-text h2{
    font-size: 2.5em;
    margin: 0;
}

.title-text p{
    width: 40vw;
    height: 15vh;
}

.course-points-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 20vw;
}

.points-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12.5vw;
    height: 25vh;
    background-color: #FFD700;
}

.points-block h1{
    position: absolute;
    font-size: 5em;
    margin: 0;
    margin-top: 1.5vh;
}

.points-block h4{
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 15vh;
}

/* Requirements Section */

.requirements-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    width: 85vw;
    margin-bottom: 20vh;
}

.paper-requirements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55vw;
    height: 25vh;
}

.paper-requirements h2{
    width: 50vw;
    height: auto;
    text-align: left;
    margin: 0;
    font-weight: 600;
}

/* Course Information Banner */

.course-info-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background-color: #FFD700;
}

.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 25vw;
}

.info-box h1{
    font-size: 3.5em;
    margin: 0;
}

.info-box h3{
    font-size: 1.25em;
    font-weight: 600;
}

/* Projects Section */

.projects-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 275vh;
    width: 85vw;
    margin-bottom: 10vh;
}

.course-project{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95vh;
    width: auto;
}

.project-blurb {
    width: 75vw;
    height: 15vh;
    text-align: start;
}

.project-blurb p{
    width: 50vw;
}


.image-slideshow{
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-rows: minmax(60vh, 1vw);
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter) * 2);
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
}


.slidebox {
    display: inline-block;
    width: 50vw;
    height: 60vh;
    margin-right: 2.5vw;
    background-color: black;
}

.slidebox img{
    height: 100%;
    width: auto;
}

/* Course Ranking Section */

.course-ranking-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 115vh;
    width: 85vw;
    padding-bottom: 30vh;
}

.ranking-div{
    width: 45vw;
    height: 30vh;
}

.backdrop{
    position: absolute;
}

.backdrop img{
    height: 30vh;
    width: auto;
    z-index: 0;
    left: 7.5vw;
}


.ranking-star{
    left: 0;
    display: flex;
    justify-content: space-evenly;
    width: 20vw;
    height: 7.5vh;
}

.main-star{
    width: 3.5vw;
    height: 6vh;
    z-index: 100;
}

.main-star img{
    width: 3.5vw;
    height: auto;
    z-index: 110;
    padding-right: 10vw;
}



.ranking-title{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 16.5vw;
    height: 17.5vh;
    z-index: 100;
}

.ranking-title h1{
    font-size: 6.5em;
    margin: 0;
}

.ranking-title h3{
    font-size: 3.5em;
    margin: 0;
}

.feedback-div{
    display: flex;
    justify-content: space-between;
    width: 85vw;
    height: 35vh;
}

.feedback{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 40vh;
    width: 22.5vw;
}

.feedback h3, p{
    text-align: left;
    width: 20vw;
    margin: 0;
}

.star-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    height: 7.5vh;
}

.star{
    width: 3vw;
    height: 6vh;
}

.star img{
    width: 2.75vw;
    height: auto;
}