.interactionBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    padding-bottom: 50vh;
}

.title-div{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    height: 85vh;
    width: 70vw;
}

.title-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 70vh;
    width: 90vw;
}

.return{
    display: flex;
    justify-content: flex-start;
    width: 15vw;
    height: 5.5vh;
}

.return h4{
    font-size: 1.5em;
    margin: 0;
    font-weight: 600;
}

.div-title{
    display: flex;
    justify-content: flex-start;
    width: 50vw;
    height: 12.5vh;
}

.div-title h1{
    font-size: 4em;
    margin: 0;
}

.div-title h2{
    font-size: 3em;
    margin: 0;
}

.course-title-info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 50vw;
    height: 40vh;
}

.title-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    width: 45vw;
    height: 40vh; 
}

.title-text h2{
    font-size: 2.5em;
    margin: 0;
}

.course-hero-div{
   display: flex;
   margin: auto;
   
    
}
.course-hero-div img{
   width: 35vw;
    
}

.interaction-info-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background-color: yellow;
    margin-bottom: 10vh;
}

.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 25vw;
    
}

.info-box h1{
    font-size: 3.5em;
    margin: 0;
}

.info-box h3{
    font-size: 1.25em;
    font-weight: 600;
}

.Level-papers-div{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: auto;
}

.Level-papers-heading{
    display: flex;
    justify-content: flex-start;
    height: 12.5vh;
}
.Level-papers-heading h1{
    font-size: 4em;
    margin: 0;
}
.Level-papers-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80vw;
    margin-top: 5vh;
}

.color-code-holder{
display: flex;
flex-direction: row;

}

.color-code-div{
    background-color: yellow;
    width: 30px;
    height: 30px;
    margin-bottom: auto;
    margin-top: auto;
}

.color-code-text{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10px;
    font-weight: 600;
}

.Level-heading-div{
    font-size: 1em;
    display: flex;
    margin-top: 10vh;
    width: 11vw;
    
}
.Level-heading-div h1{
    border-bottom: 1.5vh solid yellow;
    
}

.level-paper-holder{
display: flex;
flex-direction: column;
width: 80vw;
height: 50vh;
}

.tri-heading{
    display: flex;
    font-size: 1em;
    width: 11vw;
    
}

.tri-heading h2{
    text-decoration: underline green;
}
.paper-thumbnail-holder{
display: flex;
flex-direction: row;
justify-content: flex-start;
}

.paper-thumbnail-box{
display: flex;
margin-right: 40px;
width: 230px;
height: 230px;
background-color:green;



}